.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.leaflet-popup-content-wrapper {
  background: var(--color-pure-white);
  color: var(--textColor);
  border-radius: 8px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0.25rem;
  line-height: 1;
  padding: 0.5rem 0.5rem;
  font-size: 11px;
}

.leaflet-popup-content {
  margin: 0.5rem !important;
  line-height: 1;
  min-width: 7rem;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 0.7rem !important;
  right: 0.7rem !important;
}

.popup-table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: left;
  justify-content: center;
}

.popup-header {
  background-color: var(--color-primary);
  color: var(--color-pure-white);
  padding: 5px;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
}

.popup-header-hall {
  background-color: var(--color-primary);
  color: var(--color-pure-white);
  padding: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: left;
}

.popup-header-hall span {
  padding: 0.3rem 0.5rem;
  margin: 0 !important;
}

.popup-header:first-child,
.popup-header-hall:first-child {
  border-top-left-radius: 6px;
}

.popup-header:nth-child(3),
.popup-header-hall:nth-child(4) {
  border-top-right-radius: 6px;
}

.popup-table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: keep-all;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
}

.popup-table-entrance {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
}

.popup-header-entrance {
  background-color: var(--color-primary);
  color: var(--color-pure-white);
  padding: 5px;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 6px 6px 0 0;
}

.popup-table-hall {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 3fr;
  text-align: left;
  justify-content: center;
  min-width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.popup-table-entrance .details-link_container:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.popup-title-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.popup-title-container.hall {
  margin-bottom: 0.5rem !important;
}
.popup-title {
  font-size: 1.2rem;
  display: flex;
}

.popup-title span {
  margin-bottom: 0.5rem !important;
}

.details-link_container a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-link_container.event a {
  height: 100%;
  padding: 0.2rem 0.5rem;
  word-break: keep-all;
}

.details-link_container svg {
  width: 20px !important;
  color: var(--color-primary);
  margin-right: 5px;
}

.popup-table-cell-footer {
  padding: 0.2rem 0.5rem;
  background-color: var(--color-gray-150);
}

.popup-table-cell-footer.capacity {
  border-bottom-left-radius: 5px;
}

.popup-table-cell-footer.percentage,
.popup-table-cell-footer.lots {
  border-bottom-right-radius: 5px;
}

.cap h4 {
  text-transform: capitalize;
  word-break: break-all;
  font-size: 1rem !important;
  font-weight: bold;
}

.cap p {
  margin: 0.5rem 0;
}

.cap h4 {
  margin-bottom: 0.5rem;
}

.tags-halls,
.tags-entrances,
.tags-parking-lots {
  padding: 3px 3px;
  font-size: 10px;
  line-height: 1;
}

.tags-entrances {
  white-space: pre-wrap;
  text-align: center;
  font-size: 8px;
}

.leaflet-left {
  left: auto !important;
}

.leaflet-top {
  right: 10px !important;
  top: 40px !important;
}

.recenter-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  color: var(--textColor) !important;
}

.recenter-button {
  background-color: var(--color-pure-white) !important;
  color: var(--textColor) !important;
  font-weight: bold !important;
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  min-width: none;
  padding: 5px !important;
  background-clip: padding-box;
  border-radius: 4px !important;
  min-width: 0 !important;
}

.recenter-button:hover {
  background-color: #f0f0f0 !important;
  color: var(--color-primary) !important;
}

.recenter-button span {
  margin: 0 !important;
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  z-index: 1000;
  padding: 0.5rem !important;
  background-clip: padding-box;
  border-radius: 4px !important;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.legend p {
  padding: 0 0 0.5rem 0 !important;
}

.legend .legend-item:last-of-type {
  border-bottom: 2px solid black !important;
}

.legend-color {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.legend-text.div {
  display: flex;
  flex-direction: column;
  transition: color 0.3s ease-in-out;
}

.legend-runtime,
.legend-assembly,
.legend-disassembly {
  color: var(--textColor);
  transition: color 0.3s ease-in-out;
}

.legend-runtime,
.legend-assembly,
.legend-disassembly {
  max-width: 6rem !important;
}

.legend-runtime span,
.legend-assembly span,
.legend-disassembly span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5rem !important;
  word-break: break-all;
}

.legend-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.legend-icon svg {
  margin-right: 5px;
  transition: fill 0.3s ease-in-out;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0.5rem;
}

.map-switch-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.map-switch-btn {
  background-color: var(--color-pure-white) !important;
  color: var(--textColor) !important;
  font-weight: bold !important;
  border-radius: 4px !important;
}

.map-switch-btn:hover {
  background-color: #f0f0f0 !important;
  color: var(--color-primary) !important;
}

.switch-container-bar-chart {
  border-bottom: 1px solid var(--color-gray-150);
}

.no-data {
  display: flex;
  align-items: center;
  height: 100%;
}

.timeline-wrapper {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline-container {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.map__map-component {
  position: relative;
}

.map__map-component,
.map__timeline-slider {
  padding: 0 !important;
}

.map__timeline-slider {
  border: none !important;
  cursor: pointer;
}

.timeline-slider p,
.timeline-date {
  cursor: pointer;
}

.timeline-slider__days,
.map__map-component {
  border: 1px solid var(--color-gray-150);
}

.timeline-header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-primary);
}

.timeline-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
}

.timeline-date {
  text-align: center;
  padding: 3px 0 !important;
  margin: 0 !important;
  width: 45px !important;
  transition: background-color 0.3s ease-in-out;
}

.timeline-date p {
  margin: 0 !important;
  font-size: 0.8rem;
}

.timeline-week p {
  margin: 0 !important;
  font-size: 0.8rem;
}

.timeline-date.selected {
  background-color: var(--color-primary);
  color: var(--color-pure-white);
  font-weight: 800 !important;
}

.timeline-week.selected {
  background-color: var(--color-primary);
  color: var(--color-pure-white);
  font-weight: 800 !important;
}

.timeline-body {
  display: flex;
  flex-direction: column;
}

.timeline-row {
  display: flex;
  align-items: center;
}

.timeline-row__label {
  width: 100px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 28px;
  background-color: var(--color-gray-150);
  color: var(--textColor);
  min-width: 4rem;
  font-size: 0.8rem !important;
  text-align: center;
}

.timeline-cell {
  width: 50px;
  height: 28px;
  border-right: 1px solid #ccc;
}

.timeline-cell.selected {
  background-color: var(--color-primary);
  transition: background-color 0.3s ease-in-out;
}

.arrow-button {
  z-index: 20;
  background-color: white;
  border-radius: 50%;
}

.timeline-slider.months,
.timeline-slider.years {
  margin-bottom: 0.4rem !important;
}

.arrow-button.left,
.arrow-button.right {
  position: absolute;
  color: var(--color-primary);
  border: none;
  padding: 0 !important;
  cursor: pointer;
  box-shadow: none !important;
  top: 64px;
}

.arrow-button.left:hover,
.arrow-button.right:hover {
  background-color: var(--color-backround-light) !important;
  color: inherit !important;
  box-shadow: none !important;
}

.arrow-button.left {
  left: -20px;
}

.arrow-button.right {
  right: 40px;
}

.timeline-arrows-container {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
}

.selected .timeline-date__DD,
.selected .timeline-date__ddd,
.selected .timeline-week__KW {
  font-weight: bold !important;
}

.timeline-date:not(.selected):nth-child(2n) {
  background-color: var(--color-gray-100) !important;
}

.timeline-date:nth-child(2n + 1):not(.selected) {
  background-color: var(--color-gray-200) !important;
}

.button-primary {
  border: none;
  margin: 1rem 0;
}

.mapView__title {
  align-items: center !important;
  justify-content: space-between !important;
}

.mapView__title h1 {
  margin: 0 !important;
}

.timeline-year {
  padding: 0 0.5rem;
}

.event-row {
  height: 20px;
  width: 100%;
}

.event-bar {
  height: 100%;
  margin: 0px 0;
}

.status-assembly {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.status-disassembly {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tags-parking-lots {
  background-color: var(--color-parking-space);
  color: white;
}

.tags-parking-lots {
  background-color: var(--color-primary) !important;
  color: var(--color-pure-white) !important;
}

h4 {
  padding-right: 1rem !important;
}
.popup-title-container {
  display: flex;
  gap: 0.5rem;
}

.btn-events-pages {
  border: 1px solid var(--color-primary) !important;
}

.btn-events-pages:hover {
  color: var(--color-pure-white);
}

.header-icon-container.events {
  gap: 0.2rem;
}

.form-width.event {
  max-width: 100% !important;
}

tr td {
  padding: 0.3rem 0.5rem !important;
}
