/* 
index.css:
  - Generally used for global styles that affect the entire application.
  - Contains styles that are applied globally, such as resets, typography, or layout adjustments.
  - Helps centralize global styles, making it easier to manage and maintain consistent styling throughout the application.
  - If the styles you provided are intended to be applied globally across your entire application, you can consider placing them in here. 
*/

/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap'); */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /* 16px */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  /* Color vars */
  --color-primary: #6a91ce;
  --color-secondary: #6a91ce;
  --color-navigation-bar: #6a91ce;
  --color-buttons: #6a91ce;
  --color-links: #6a91ce;
  --color-links-hover: #4e75bc;
  --color-icons: #6a91ce;
  --color-image-layer: #6a91ce;
  --color-arrows: #6a91ce;
  --color-background-light: #b3b3b3;
  --color-background-dark: #e8ebf1;
  --color-background-white: rgb(255, 255, 255);
  --color-background-bright: rgb(243, 243, 243);
  --color-body: rgb(51, 51, 51);
  --color-primary-50: rgb(243, 246, 251);
  --color-primary-100: rgb(216, 224, 235);
  --color-primary-200: rgb(195, 211, 235);
  --color-primary-400: rgb(136, 167, 216);
  --color-primary-500: rgb(106, 145, 206);
  --color-primary-600: rgb(85, 116, 165);
  --color-primary-700: rgb(64, 87, 124);
  --color-primary-gradient: rgb(106, 145, 206);
  --color-buttons: rgb(106, 145, 206);
  --color-pure-black: #000000;
  --color-pure-black-700: rgba(0, 0, 0, 0.7);
  --color-pure-black-400: rgba(0, 0, 0, 0.4);
  --color-black-alpha-70: rgba(0, 0, 0, 0.7);
  --color-black-alpha-40: rgba(0, 0, 0, 0.4);
  --color-pure-white: #ffffff;
  --color-pure-white-800: rgba(255, 255, 255, 0.8);
  --color-background-light: #f5f6f8;
  --color-background-light-hover: #e8ebf1;
  --color-background-dark: rgb(232, 235, 241);
  --color-signal-error: #ff566a;
  --color-red-light: #f8d7da;
  --color-red-dark: #842029;
  --color-signal-error-80: rgba(255, 86, 106, 0.08);
  --color-signal-errorAlpha-8: rgba(255, 86, 106, 0.08);
  --color-signal-success: #18c788;
  --color-signal-success-light: rgb(159, 218, 193);
  --color-signal-success-80: rgba(24, 199, 136, 0.08);
  --color-signal-successAlpha-8: rgba(24, 199, 136, 0.08);
  --color-gray-25: #f5f5f5;
  --color-gray-50: #e9e9e9;
  --color-gray-100: #e6e6e6;
  --color-gray-150: #d9d9d9;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #808080;
  --color-gray-600: #666666;
  --color-gray-700: #4d4d4d;
  --color-gray-800: #333333;
  --color-gray-900: #1a1a1a;
  --color-parking-space: #4e75bc;

  /* Font vars */
  --type-headline-font-family: Arial, Helvetica, sans-serif;
  --type-headline-spacing: 0.3px;
  --type-headline-weight: bold;
  --type-body-font-family: Arial, Helvetica, sans-serif;

  /* Radius vars*/
  --radius-small-top-left: 6px;
  --radius-small-top-right: 6px;
  --radius-small-bottom-left: 6px;
  --radius-small-bottom-right: 6px;
  --radius-large-top-left: 12px;
  --radius-large-top-right: 12px;
  --radius-large-bottom-left: 12px;
  --radius-large-bottom-right: 12px;
  --radius-special-top-left: 0;
  --radius-special-top-right: 16px;
  --radius-special-bottom-left: 16px;
  --radius-special-bottom-right: 0;
  --brand-font-family: var(--type-body-font-family);
  --brand-font-weight: var(--type-headline-weight);
  --brand-font-weight-secondary: var(--type-headline-weight);
  --brand-letter-spacing: var(--type-headline-spacing);
  --brand-font-size-h1-l: var(--text-size-4xl);
  --brand-line-height-h1-l: var(--text-line-height-6xl);
  --brand-font-size-h2-l: var(--text-size-2xl);
  --brand-line-height-h2-l: var(--text-line-height-3xl);
  --brand-font-size-h1-s: var(--text-size-3xl);
  --brand-line-height-h1-s: var(--text-line-height-3xl);
  --brand-font-size-h2-s: var(--text-size-1xl);
  --brand-line-height-h2-s: var (--text-line-height-xl);
  --brand-font-size-h3-l: var(--text-size-xl);
  --brand-line-height-h3-l: var(--text-line-height-xl);
  --brand-font-size-h3-s: var(--text-size-xl);
  --brand-line-height-h3-s: var(--text-line-height-lg);
  --brand-font-size-h4-l: var(--text-size-base);
  --brand-line-height-h4-l: var(--text-line-height-sm);
  --brand-font-size-h4-s: var(--text-size-base);
  --brand-line-height-h4-s: var(--text-line-height-sm);
  --text-line-height-xs: 16px;
  --text-line-height-sm: 20px;
  --text-line-height-base: 24px;
  --text-line-height-lg: 28px;
  --text-line-height-xl: 32px;
  --text-line-height-2xl: 36px;
  --text-line-height-3xl: 40px;
  --text-line-height-4xl: 44px;
  --text-line-height-5xl: 48px;
  --text-line-height-6xl: 52px;
  --text-line-height-7xl: 60px;

  /* Set the small text based on the parent */
  --smallText: 0.7em;
  --mediumText: 0.8em;

  /* rest of the vars */
  --backgroundColor: var(--color-gray-50);
  --textColor: var(--color-gray-700);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: var(--color-background-light);
  font-family: var(--type-body-font-family);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--type-headline-font-family);
  font-weight: 400;
  line-height: 1.3;
  text-transform: none !important;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.grid-main {
  min-height: 30vh;
  margin: 2rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 40vw;
  border: 5px solid var(--color-primary-500);
  border-radius: var(--borderRadius);
  max-width: var (--max-width);
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--color-pure-white);
  background: var(--color-primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  /* vertical margin is respected */
  display: inline-block;
  /* change when you want different layout */
  /* display: block;
  width: 200px;
  margin: 0 auto; */
}
.btn:hover {
  background: var(--color-primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var (--color-primary-500);
  background: var(--color-primary-200);
}
.btn-hipster:hover {
  color: var(--color-primary-200);
  background: var(--color-primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}
.alert-danger {
  color: var(--color-red-dark);
  background: var(--color-signal-error);
}
.alert-success {
  color: var(--color-signal-success);
  background: var(--color-signal-success-lightt);
}

/* form */
.form-width {
  max-width: 1000px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.form-container {
  padding: 20px;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.form-headline-button__container {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--color-gray-50);
  border: 1px solid var(--color-gray-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--color-gray-400);
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container__icon {
  margin-right: 10px;
  color: var(--color-parking-space);
}

.form-alert {
  color: var(--color-signal-error);
  color: var(--color-red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  font-weight: bold;
}

.ant-picker-form,
.date-picker-container-form {
  width: 100%;
}
.ant-picker {
  display: flex;
}

.ant-picker-form > *:nth-child(1),
.ant-picker-form > *:nth-child(2),
.ant-picker-form > *:nth-child(3) {
  margin-right: 0;
  width: fit-content;
}

.ant-picker-form > *:nth-child(4),
.ant-picker-form > *:nth-child(5) {
  margin-left: auto;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-small);
  overflow: hidden;
}

th,
td {
  text-align: left;
  padding: 12px 20px;
  border-bottom: 1px solid var(--color-primary-200);
}

th span,
th svg {
  color: var(--color-pure-white) !important;
}

th {
  background-color: var(--color-primary-500);
  color: var(--color-pure-white) !important;
  font-family: var(--brand-font-family);
  font-weight: var(--brand-font-weight);
}

tr:nth-child(even) {
  background-color: var(--color-background-light);
}

tr:hover {
  background-color: var(--color-background-light-hover);
}

table thead th:first-child {
  border-top-left-radius: var(--radius-small-top-left);
}

table thead th:last-child {
  border-top-right-radius: var(--radius-small-top-right);
}

table tfoot td:first-child {
  border-bottom-left-radius: var(--radius-small-bottom-left);
}

table tfoot td:last-child {
  border-bottom-right-radius: var(--radius-small-bottom-right);
}

/* title */
.title {
  text-align: center;
}

.title h2 {
  margin-bottom: 0.25rem;
}

.title-underline {
  background: var(--color-primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-bottom: -1;
}

/* Mui Styling */

.MuiInputLabel-root {
  background-color: var(--color-pure-white) !important;
  padding: 0 0.2rem !important;
}

.MuiDataGrid-columnHeader {
  background-color: var(--color-primary-500);
  color: var(--color-pure-white);
  font-family: var(--brand-font-family);
  font-weight: var(--brand-font-weight);
}

.MuiDataGrid-main {
  font-family: var(--type-body-font-family) !important;
}

.MuiDataGrid-row {
  color: var(--textColor) !important;
  background-color: var(--color-gray-25) !important;
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: var(--color-gray-100) !important;
}

.MuiDataGrid-row:hover {
  background-color: var(--color-gray-200) !important;
}

.MuiDataGrid-row:nth-of-type:hover {
  background-color: var(--color-gray-300) !important;
}

a:not(.button, .chakra-linkbox__overlay, .css-183ssja):hover {
  color: var(--color-primary-600);
}

.ant-switch.ant-switch-checked {
  background-color: var(--color-primary) !important;
}

.ant-switch.ant-switch-checked:hover {
  background-color: var(--color-primary) !important;
}

.switch-label {
  gap: 10px;
}

.switch-container label span {
  font-size: var(--smallText) !important;
}

/* Loading animation */
.circular-loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Page transition overlay */
.page-transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.page-transition-overlay.active {
  opacity: 1;
}
