.icon-button:first-child {
  padding: 0 !important;
}

.card-container {
  padding-left: 3rem !important;
  padding-bottom: 1rem !important;
  max-width: 20rem !important;
}

.card {
  background-color: var(--color-pure-white) !important;
}

.content {
  padding: 1rem !important;
}

.outer-container {
  padding: 2rem !important;
}
@media screen and (min-width: 768px) {
  .sub-heading-text {
    padding: 0 2rem 2rem 0 !important;
  }
}

.sub-heading-text {
  padding: 0 0 2rem 0 !important;
}

.heading-text {
  padding-bottom: 1rem !important;
}

.team-members-container {
  justify-content: center !important;
}
