/* MUI demandTable */
.demandTable__itemLabel-container {
  display: flex !important;
  min-width: 15rem;
}

.demandTable__itemLabel svg,
.demandTable__subitem svg:hover,
.demandTable__checkIcon:hover,
.demandTable__subitem p:hover {
  margin-top: auto;
  margin-bottom: auto;
  transition: transform 0.3s;
}

.demandTable__monthLabel,
.demandTable__headerCell-nav,
.ArrowBackIosIcon,
.ArrowForwardIosIcon {
  color: var(--color-pure-white) !important;
}

.demandTable__subitem p {
  font-size: 1rem;
}

.demandTable__monthLabel {
  font-size: 0.9rem;
}

.demandTable__headerCell-nav {
  display: flex !important;
  flex-direction: row;
  justify-content: start;
}

.demandTable__headerCell,
.demandTable__headerCell-month {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.demandTable__headerCell-month:hover {
  background-color: var(--color-primary-400);
}

.demandTable__headerCell-month:hover {
  background-color: var(--color-primary-400);
}

.demandTable__headerCell-month:hover .demandTable__monthLabel {
  transform: scale(1.1);
}

.demandTable__monthLabel,
.demandTable__subitem svg,
.demandTable__subitem p {
  transition: transform 0.3s ease;
}

.demandTable__subitem:hover svg,
.demandTable__subitem:hover .demandTable__subitem p {
  transform: scale(1.2);
}

.demandTable__itemCell p {
  color: var(--textColor) !important;
  color: var(--color-gray-700) !important;
}

.ArrowBackIosIcon {
  margin-right: 50px !important;
}

.ArrowBackIosIcon,
.ArrowForwardIosIcon {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 5px !important;
  transition: transform 0.3s;
}

.demandTable__itemFont {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.demandTable__subitem,
.infoHover__Container {
  cursor: pointer;
}

.demandTable__checkIcon {
  color: var(--color-gray-300);
}

.demandTable__monthLabel,
.demandTable__warningIcon,
.demandTable__visibilityIcon,
.demandTable__itemText,
.demandTable__subitem p {
  transition: color 0.3s;
}
