/* Parking Spaces */

.parking-lot-box {
  background-color: var(--color-parking-space);
  color: var(--color-pure-white);
  border-radius: 5px;
  padding: 4px 12px;
  margin: 2px;
  display: inline-block;
}

.header-icon-container {
  display: flex;
  align-items: center;
}
.header-icon {
  color: var(--color-pure-white);
  margin-right: 5px;
}

/* Add Parking Space */

.form-containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addParkingSpace-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.addParkingSpace-header .MuiTypography-root {
  display: flex;
  align-items: center;
}

.addParkingSpace-header .MuiSvgIcon-root {
  margin-right: 10px;
}

.input-container__label-utilization {
  left: 35px !important;
}

.icon__edit-parking-space {
  padding-right: 5px;
}

.header-icon-container__label {
  display: flex;
  flex-direction: column;
  justify-items: first baseline;
}
.header-icon-container__label-unit {
  font-size: 0.7rem;
  color: var(--color-gray-100);
  line-height: 1rem;
}

.capacity-chart {
  padding: 1rem;
}

/* Parking Space Occupation Table */
.parkingSpaces-year-month-table {
  background-color: var(--color-primary);
}

.parkingSpaces-year-month-table th {
  border-radius: 0px !important;
  border-bottom-color: var(--color-primary) !important;
}

@keyframes highlightFade {
  0% {
    background-color: #ff434375;
  }
  75% {
    background-color: #ff434375;
  }
  100% {
    background-color: transparent;
  }
}

.allocation-table-row.highlight {
  animation: highlightFade 2s ease-out forwards;
}
